In [7]:
import requests
from pandas.io.json import json_normalize
import pandas as pd

In [4]:
list_prop= ['rps_lng-CVA210023' ,'rps_lng-CVA210032' ,  'rps_lng-CVA210066']

In [5]:
def get_property_transactions(prop_id):

    url = f"https://webservice.reapit.net.au/lng/rest/landlord/properties/{prop_id}/transactions"

    headers = {

        'ApiKey': "c242c818604a72582f383ba23b2853d1",

        "Accept": "application/json"

    }

 

    response = requests.get(url, headers=headers)

    if response.status_code == 200:

        return response.json()

    else:

        print(f"Error: {response.status_code} - {response.text}")

        return None

In [9]:
df_properties_transactions = pd.DataFrame()
for prop_id in list_prop:
    result = get_property_transactions(prop_id)
    
    if result is not None:
        # Convert the result to a DataFrame
        df = json_normalize(result['Response'], sep='_')
        
        # Append the DataFrame to df_result

        df_properties_transactions = df_properties_transactions.append(df, ignore_index=True)
df_properties_transactions

C:\Users\SahilSingh\AppData\Local\Temp\ipykernel_40736\2214642750.py:7: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  df = json_normalize(result['Response'], sep='_')
C:\Users\SahilSingh\AppData\Local\Temp\ipykernel_40736\2214642750.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_properties_transactions = df_properties_transactions.append(df, ignore_index=True)
C:\Users\SahilSingh\AppData\Local\Temp\ipykernel_40736\2214642750.py:7: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  df = json_normalize(result['Response'], sep='_')
C:\Users\SahilSingh\AppData\Local\Temp\ipykernel_40736\2214642750.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_properties_transactions = df_properties_transactions.append(df, ignore_index=True)
C:\Users\SahilSingh\AppData\Local\Temp\ipykernel_40736\2214642750.py:7: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  df = json_normalize(result['Response'], sep='_')
C:\Users\SahilSingh\AppData\Local\Temp\ipykernel_40736\2214642750.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_properties_transactions = df_properties_transactions.append(df, ignore_index=True)

,ID,DateTime,Type,Category,Description,IsCredit,IsDebit,Gross,Net,Balance,VAT,Unallocated
0,rps_lng-,2021-02-02T00:00:00+00:00,Opening Balance CR,Float,Opening Balance,True,False,NaN,NaN,NaN,NaN,NaN
1,rps_lng-HDO21036047,2021-02-02T00:00:00+00:00,Transfer,Rent,Rent from 01/02/2021 to 28/02/2021 for 35A Cam...,True,False,1847.00,1847.00,1847.00,NaN,NaN
2,rps_lng-HDO21042860,2021-02-05T00:00:00+00:00,Payment,Landlord Payment,Payment to Landlord,False,True,1190.06,1190.06,656.94,NaN,NaN
3,rps_lng-HDO21032647,2021-02-05T15:12:53+00:00,Invoice,Landlord Admin Fee,Admin Fee,False,True,4.40,4.00,652.54,0.40,NaN
4,rps_lng-HDO21032670,2021-02-05T15:12:53+00:00,Invoice,Management Fee,Management fees at 8% for 01/02/2021 to 28/02/...,False,True,162.54,147.76,490.00,14.78,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
454,rps_lng-HDO23000155,2023-01-12T15:11:56+00:00,Invoice,Management Fee,Management fees at 7% for 08/01/2023 to 07/02/...,False,True,110.42,100.38,NaN,10.04,NaN
455,rps_lng-HDO23061246,2023-02-09T00:00:00+00:00,Transfer,Rent,Rent from 08/02/2023 to 07/03/2023 for 15/88 F...,True,False,1434.00,1434.00,1434.00,NaN,NaN
456,rps_lng-HDO23066036,2023-02-13T00:00:00+00:00,Payment,Landlord Payment,Payment to Landlord,False,True,1319.18,1319.18,114.82,NaN,NaN
457,rps_lng-HDO23051717,2023-02-13T17:42:12+00:00,Invoice,Landlord Admin Fee,Monthly Admin Fee,False,True,4.40,4.00,110.42,0.40,NaN
458,rps_lng-HDO23051738,2023-02-13T17:42:12+00:00,Invoice,Management Fee,Management fees at 7% for 08/02/2023 to 07/03/...,False,True,110.42,100.38,NaN,10.04,NaN

In [11]:
df_properties_transactions = df_properties_transactions[df_properties_transactions['Category'] == "Rent"]

In [12]:
df_properties_transactions

,ID,DateTime,Type,Category,Description,IsCredit,IsDebit,Gross,Net,Balance,VAT,Unallocated
1,rps_lng-HDO21036047,2021-02-02T00:00:00+00:00,Transfer,Rent,Rent from 01/02/2021 to 28/02/2021 for 35A Cam...,True,False,1847.0,1847.0,1847.0,NaN,NaN
6,rps_lng-HDO21074629,2021-03-02T00:00:00+00:00,Transfer,Rent,Rent from 01/03/2021 to 31/03/2021 for 35A Cam...,True,False,1847.0,1847.0,1847.0,NaN,NaN
12,rps_lng-HDO21115916,2021-04-06T00:00:00+01:00,Transfer,Rent,Rent from 01/04/2021 to 30/04/2021 for 35A Cam...,True,False,1847.0,1847.0,1847.0,NaN,NaN
16,rps_lng-HDO21165747,2021-05-11T00:00:00+01:00,Transfer,Rent,Rent from 01/05/2021 to 31/05/2021 for 35A Cam...,True,False,1847.0,1847.0,1847.0,NaN,NaN
20,rps_lng-HDO21194045,2021-06-02T00:00:00+01:00,Transfer,Rent,Rent from 01/06/2021 to 30/06/2021 for 35A Cam...,True,False,1847.0,1847.0,1847.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
437,rps_lng-HDO22439606,2022-10-11T00:00:00+01:00,Transfer,Rent,Rent from 08/10/2022 to 07/11/2022 for 15/88 F...,True,False,1434.0,1434.0,1434.0,NaN,NaN
441,rps_lng-HDO22485681,2022-11-09T00:00:00+00:00,Transfer,Rent,Rent from 08/11/2022 to 07/12/2022 for 15/88 F...,True,False,1434.0,1434.0,1434.0,NaN,NaN
446,rps_lng-HDO22532497,2022-12-09T00:00:00+00:00,Transfer,Rent,Rent from 08/12/2022 to 07/01/2023 for 15/88 F...,True,False,1434.0,1434.0,1434.0,NaN,NaN
451,rps_lng-HDO23015726,2023-01-10T00:00:00+00:00,Transfer,Rent,Rent from 08/01/2023 to 07/02/2023 for 15/88 F...,True,False,1434.0,1434.0,1434.0,NaN,NaN
455,rps_lng-HDO23061246,2023-02-09T00:00:00+00:00,Transfer,Rent,Rent from 08/02/2023 to 07/03/2023 for 15/88 F...,True,False,1434.0,1434.0,1434.0,NaN,NaN